body {
    background-color: rgb(26, 0, 96);
    color: antiquewhite;
}

 .wrapper {
display: flex;
justify-content: center;
} 

.wrapper_1 {
    background-color: rgba(21, 165, 16, 0.32);
    width: 1100px;
    height: 1500px;
    border: 2px solid wheat;
}
.photo {
    width: 200px;
    border-radius: 40%;
}
.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    gap: 20px;
    border: 2px solid blanchedalmond;
}
.name {
    font-size: 50px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color:antiquewhite
}
.prof {
    font-size: 20px;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main {
    display: flex;
    font-weight: bold;
    justify-content:space-around;
}
.about_me{
    width: 500px;
    margin-top: 30px;
    font-size: 20px;
}
.skills {
    margin-top: 30px;
    font-size: 30px;
}
.code {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}
code {
    color: rgba(1, 143, 244, 0.347);
    border: 2px solid wheat;
    margin:  5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
}
.language{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}
footer h2 {
    margin-right: 70px;
    font-size: 30px;
}
footer li {
    font-size: 20px;
}
a {
    color: blanchedalmond;
}
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo {
    background-color: rgb(255, 255, 255);
    width: 1100px;
    height: 177px;
    display: flex;
    justify-content: space-between;

}
.rsApp {
    width: 400px;
    height: 195px;
}
.est {
    color: black;
    font-weight: bold;
    padding-top: 140px;
    padding-right: 20px;
}
