body {
    background-color: rgb(162, 58, 58)
}

.wrapper {
display: flex;
justify-content: center;
}

.wrapper_1 {
    background-color: rgba(3, 32, 33, 0.936);
    width: 1100px;
    height: 800px;
}
